.countdown-item[data-hidden="true"] {
    display: none;
}
#countdown-{{ c.id }}{
    background-color: {{ c.background }};
    border: {{ c.border }};
    border-radius: {{ c.border_radius }}px;
    padding: 1rem 2rem;
    {% if c.backdrop_filter %}
    backdrop-filter: blur(8px);
    {% endif %}
    {% if c.box_shadow %}
    box-shadow: {{ c.box_shadow }};
    {% endif %}
}

#timer-{{ c.id }} {
  font-size: {{ c.font_size }}rem;
  font-family: monospace;
  color: {{ c.text_color }};
  text-shadow: 2px 2px 4px black;
}
#icon-{{ c.id }} {
  width: {{ c.icon_size }};
  height: {{ c.icon_size }};
  vertical-align: middle;
  margin-right: 0.5rem;
}
