.countdown-item {
  display: flex;
}
.countdown-list.vertical {
  flex-direction: column;
}
.countdown-list.horizontal {
  flex-direction: row;
}
.countdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.countdown-item[data-hidden="true"] {
    display: none;
}
{% for c in countdowns %}
#timer-{{ c.id }} {
  font-size: {{ c.font_size }}rem;
  font-family: monospace;
  color: {{ c.text_color }};
  text-shadow: 2px 2px 4px black;
}
#icon-{{ c.id }} {
  width: {{ c.icon_size }};
  height: {{ c.icon_size }};
  vertical-align: middle;
  margin-right: 0.5rem;
}
{% endfor %}
